html,body {
    margin: 0;
    padding: 0;
    color: #eee;
    text-align: center;
    background-color: #5E5E5E;
    /*background: url(images/background.png) no-repeat center center fixed;*/
    background-size: cover;
}
#header {
    height: 150px;
    margin: 0px;
    background-color: #333;
}
/**** Nav-Bar ****/
.navbar{
    border: 0px;
    border-radius: 0px;
    border-top: 2px solid #00fbf3;
    border-bottom: 3px solid black;
}
#nav-wrapper {
    background-color: #222;
}
#nav-wrapper ul li a:hover {
    color: #eee;
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
   
}
#nav-wrapper a {
    color: #eee;
    text-decoration: none;
}
.active {
    background-color: rgba(0,0,0,.7);
}
/**** General-classes ****/
.l-title-content {
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px black;
}
.m-title-content {
    font-size: 20px;
    text-align: center;
}
.s-title-content {
    font-size: 20px;
    text-align: left;
}
.body-content {
    font-size: 16px;
    text-align: left;
}
.body-box {
    text-align: left;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 3px 3px black;
    background: rgba(0,0,0,.7);
}
/**** classes.html ****/
#menu {
    border-bottom: 2px solid #222;
}
#class-refresh {
    border: 2px solid #222;
    background-color: #333;
    float: right;
}
/**** members.html ****/
.column 
{
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 24px;
}

.card 
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container 
{
    width: inherit;
    padding: 0 10px;
    text-align: left;
    margin-left: -1px;

}

.container::after, .row::after 
{
    content: "";
    clear: both;
    display: table;
}

.title 
{
    color: grey;
}

.member-link:link
{
    margin: -10px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #00F9F1;
    background-color: #272727;
    text-align: left;
    cursor: pointer;
    width: 100%;
    text-decoration: none
}

.member-link:visited
{
    margin: -10px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #00F9F1;
    background-color: #000;
    text-align: left;
    cursor: pointer;
    width: 100%;
    text-decoration: none
}

.member-link:hover 
{
    background-color: #555;
}
@media (max-width: 1000px) 
{
    .column {
        width: 50%;
        display: block;
  }
}
/*Remove outline when done with placeholders*/
.outline {
    padding: 0px;
    border: white 2px solid;
}
@media screen and (max-width: 480px) {
    .m-title-content {
        font-size: 20px;
    }
}