html {
}
body {
    margin: 0;
    padding: 0;
    color: #eee;
    text-align: center;
    background-color: #8F8F8F;
    background: url(images/background.png) no-repeat center center fixed;
    background-size: cover;
}
#header {
    height: 150px;
    margin: 0px;
    background-color: #333;
}
/**** Nav-Bar ****/
.navbar{
    border: 0px;
    border-radius: 0px;
    border-top: 2px solid #00fbf3;
    border-bottom: 3px solid black;
}
#nav-wrapper {
    background-color: #222;
}
#nav-wrapper ul li a:hover {
    color: #eee;
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
   
}
#nav-wrapper a {
    color: #eee;
    text-decoration: none;
}
.active {
    background-color: rgba(0,0,0,.7);
}
/**** General-classes ****/
.l-title-content {
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px black;
}
.m-title-content {
    font-size: 20px;
    text-align: center;
}
.s-title-content {
    font-size: 20px;
    text-align: left;
}
.body-content {
    font-size: 16px;
    text-align: left;
}
.body-box {
    text-align: left;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 3px 3px black;
    background: rgba(0,0,0,.7);
}
/**** classes.html ****/
#menu {
    border-bottom: 2px solid #222;
}
#class-refresh {
    border: 2px solid #222;
    background-color: #333;
    float: right;
}
/*Remove outline when done with placeholders*/
.outline {
    padding: 0px;
    border: white 2px solid;
}
@media screen and (max-width: 480px) {
    .m-title-content {
        font-size: 20px;
    }
}