html {
}
body {
    margin: 0;
    padding: 0;
    color: #eee;
    text-align: center;
    background-color: #3C3C3C;
}
#header {
    height: 150px;
    margin: 0px;
    background-color: #333;
}
.navbar{
    border: 0px;
    border-bottom: 3px solid black;
    color: #999;
}
#nav-wrapper ul li a:hover {
    color: #eee;
    background-color: rgba(0,0,0,.2);
}